
/* font-family: 'Red Rose', cursive;
font-family: 'Roboto', sans-serif; */


:root {
    --red_gros: #D7293D;
    --pasion_gros: #EFF1E7;
    --black_gros: #100C1A;
    --light_gros: #E6FBFE;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--black_gros);
    background-color: #EFF1E7;
   

}
/* Index */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 3rem;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 102;
}
.ham {
  /* align-self:flex-end ; */
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../assets/burger.png");
  background-size: 70%;
  background-repeat: no-repeat;
}
.showClose {
    opacity: 1;
}
  
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;
    background-color: transparent;
    z-index: 101;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    transition: .5s;
  }

  .showNav {
    /* visibility: visible; */
    right: -70%;
  }
  .menuLink{
      z-index: 2000;
      font-size: 1.5rem;
      text-decoration: none;
      color: var(--red_gros);
      margin-left: 2rem;
  }
  .menuLink:hover {
    color: #100C1A; 
  }
.main {
    width: 100vw;
    height: 100vh;
    padding: 2rem 3rem ;
    background-image: url(../assets/index.png);
    background-size: 135rem;
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;
}
.titleSite {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176px;
}
.name, .name-header {
    display: block;
    font-family:'Red Rose', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: var(--red_gros);
    text-transform: uppercase;
    z-index: 100;
}
.name span, .name-header span {
    font-weight: bold;
    letter-spacing: 0.3em;
    z-index: 100;
}
.actrees, .actrees-header {
    display: block;
    padding-right: 0.6rem ;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 100;
}
/* Bio */
.titleSite-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 176px;
}
.bioSection {
    width: 100%;
    overflow: hidden;
}
.bioImg{
    margin-top: 8rem ;
    width: 100%;
}
.bioImgResponsive {
    display: none;
    margin-top: 8rem;
    width: 100%;
}
.sectionTitle {
    position: absolute;
    top: 10rem;
    right: 3rem;
    /* margin: 10rem 0rem; */
    font-family: 'Red Rose', cursive;
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--red_gros);
}
.bioTextContainer{
    width: 80%;
    margin: 2rem auto;
}
.bioText {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.backHeader{
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 8rem;
    background-color: #EFF1E7;
}

/* Contact */
.contactTitle {
    font-size: 4rem;
}
.contactSection{
    display: flex;
    flex-direction: column;
}
.contactContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 16rem;
    margin: 2rem auto;

}
.contactLinks {
    display: flex;
    flex-wrap: wrap;
    width: 13rem;
    height: 12rem;
}
.contactLogoMedia {
    width: 4rem;
    margin: 1rem;
}
.contactLogoMedia img {
    width: 4rem;
}
.contactImg {
    width: 100%;
}
.contactImgResponsive {
    display: none;
    width: 100%;
}
footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 8rem;
    background-color: var(--pasion_gros);
}
.copyRigth {
    text-align: center;
}

@media screen and (min-width: 320px) {
}
@media screen and (min-width: 479px) {
}
@media screen and (min-width: 767px) {
    .name{
        font-size: 4rem;
    }
    .actrees {
        font-size: 2.8rem;
    }
    .main {
        padding: 10rem 3rem;
    }
    .ham {
        display: none;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        background: transparent;
        width: 50%;
        height: auto;
        overflow: hidden;
        color: white;
        transform: translateX(0);
        visibility: visible;
        /* transition: transform 0.5s ease; */
      }
      
      .titleSite {
        width: 60%;
        padding-top: 10rem;
      }
      .bioTextContainer{     
        width: 35%;
        margin: 2 auto;
    }
    .bioImg{
        display: none;
    }
    .bioImgResponsive {
        display: block;
    }
    .sectionTitle {
        position: fixed;
        top: 15rem;
        font-size: 10rem;
    }
    .contactTitle {
       font-size: 8rem;
    }
    .contactImg {
        display: none;
    }
    .contactImgResponsive {
        display: block;
    }
    .contactSection{
        justify-content: left;
    }
    .contactContainer {
        width: 30%;
        display: inline-flex;
        padding-top: 10rem;
        margin: 2rem 0rem 2rem 2rem;
    }
 }
@media screen and (min-width: 1024px) {
    .name{
        font-size: 6rem;
    }
    .actrees {
        font-size: 3rem;
        padding-right: 2rem;
    }
    .main {
        padding: 12rem 10rem;
        background-size: 185rem;
    }
}
