
/* font-family: 'Red Rose', cursive;
font-family: 'Roboto', sans-serif; */


:root {
    --red_gros: #D7293D;
    --pasion_gros: #EFF1E7;
    --black_gros: #100C1A;
    --light_gros: #E6FBFE;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    color: var(--black_gros);
    background-size: 100%;
    background-color: #EFF1E7;
    background-image: url(../assets/index.png);
    background-size: 104rem;
    background-position: right;
    background-position-y: top;
    background-repeat: no-repeat;

}
header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 2rem 0rem;
    width: 100%;
    min-width: 320px;
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 102;
}
.ham {
  position: absolute;
  display: block;
  align-self:flex-end ;
  z-index: 1000;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../assets/burger.png");
  background-size: 70%;
  background-repeat: no-repeat;
}
.showClose {
    opacity: 1;
}
  
  .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
    background-color: transparent;
    z-index: 101;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    transition: .5s;
  }

  .showNav {
    /* visibility: visible; */
    right: -70%;
  }
  .menuLink{
      z-index: 2000;
      font-size: 2rem;
      text-decoration: none;
  }
  .menuLink:hover {
    border-bottom: 2px solid white;  
  }
.main {
    width: 100%;
    height: 100%;
    padding: 3rem 3rem ;
}
.titleSite {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.name {
    display: block;
    font-family:'Red Rose', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: var(--red_gros);
    text-transform: uppercase;
}
.name span {
    font-weight: bold;
    letter-spacing: 0.3em;
}
.actrees {
    display: block;
    padding-right: 0.6rem ;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
}


@media screen and (min-width: 320px) {
}
@media screen and (min-width: 479px) {
}
@media screen and (min-width: 767px) {
    html {
        background-size: 130rem;
    }
    .name{
        font-size: 4rem;
    }
    .actrees {
        font-size: 2.8rem;
    }
    .main {
        padding: 10rem 3rem;
    }
    .ham {
        display: none;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-direction: row;
        top: 0;
        left: 0;
        background: transparent;
        width: 40%;
        height: auto;
        overflow: hidden;
        color: white;
        transform: translateX(0);
        visibility: visible;
        /* transition: transform 0.5s ease; */
      }
      .titleSite {
        margin-top: 30rem;
    }
}
@media screen and (min-width: 1024px) {
    html {
        background-size: 185rem;
    }
    .name{
        font-size: 6rem;
    }
    .actrees {
        font-size: 3rem;
        padding-right: 2rem;
    }
    .main {
        padding: 12rem 3rem;
    }
}
